.contain {
    background: url("../../../assets/images/primary-care.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.login-container {
    width: 40%;
    margin-left: auto;
    background-color: $white-color;
    padding: 100px;
    height: 100%;

    &-header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        img {
            margin-bottom: 10px;
        }
    }

    &-body {
        div {
            margin-bottom: 20px;
        }

        a {
            color: $dark-light-color;
            text-decoration: none;
        }

        p {
            transition: .2s ease-in all;

            &:hover {
                text-decoration: underline;
                transition: .2s ease-in all;
            }
        }


        .input-group {
            display: flex;
            border-radius: 30px;
            border: 1px solid #EEE;
            padding: 5px 20px;

            button {
                background: transparent;
            }

            i {
                color: #333333;
                opacity: .3;
            }

            label {
                margin: auto;
            }

            input {
                border-radius: 20px;
                border: none;
                outline: none;
                background-color: transparent;

                &:focus {
                    border: none !important;
                    outline: none !important;
                    box-shadow: none;
                    background-color: transparent;
                }

            }
        }
    }



}